@{
    ViewBag.Title = "Alumnos";
}

<center>
    <h1><u><b> UPCNET Lista de Alumnos </b></u></h1>
    <h3> Número de Alumnos : @Model.Count</h3>
</center>
<br />
<table class=" table table-hover" border="3" align="center" width="1300">
    <thead>
        <tr bgcolor="#E6E6FA">
            <th> Código</th>
            <th> Nombre</th>
            <th> Apellido</th>
            <th> Correo </th>
            <th> DNI </th>
            <th> Carrera </th>
            <th> Fecha </th>
            <th> IDCategoría</th>
        </tr>
    </thead>
    <tbody align="center">
        @foreach (var item in Model)
        {
            <tr bgcolor="#F0F8FF">
                
                <td> @item.getCodigo()</td>
                <td> @item.getNombre()</td>
                <td> @item.getApellido()</td>
                <td> @item.getCorreo()</td>
                <td> @item.getDNI()</td>
                <td> @item.getCarrera()</td>
                <td> @item.getFecha()</td>
                <td> @item.getIDCategoria()</td>
               
            </tr>

        }
    </tbody>
</table>

<br /><center>@Html.ActionLink("Volver a Principal", "Index") </center> 